html, body{
    background-image:url(background-img.jpeg);
}

nav{
    list-style-type: none;
    border: 6px solid white;
    background-color: white;
    font-size: larger;
}

li{
    display: inline-block;
    padding-right: 15%;
}

h1{
    background-color: orangered;
    color:whitesmoke;
    text-align:center;
}

label{
    background-color: white;
    color:orangered;
}

.Smedia{
    width: 70px;
    height: 70px;
}

/* here is mobile */

@media (min-width:320px) {
    h1, h2, p{
        background-color: red;

    }
    
}

/* here is for tablet - portriat */

@media (min-width:768px) {
    h1, h2, p{
        background-color: orange;

    }
    
}

/* here is for landscap tablet */
@media (min-width:1024px) {
    h1, h2, p{
        background-color: red;

    }
    
}

/* here is for desktop */
@media (min-width:1224px) {
    

    h1, h2, p{
        background-color: orangered;

    }

    
}